form(method="post", action="/create/post")
  fieldset
    legend General
    p
      label(for="title") Title:
        input(type="text", name="title")
    p
      label(for="body") Body:
        textarea(cols="20",rows="4", name="body")
        .tip
          | Enter the body 
          |  of your post
          | here.
  fieldset
    legend Meta
    p
      label(for="author") Author:
        input(type="text", name="author")
    p
      select(name="type")
        option(value="") -- Post Type --
        option(value="AB") Alberta
        option(value="BC") British Columbia
        option(value="SK") Saskatchewan
        option(value="MB") Manitoba
        option(value="ON") Ontario
        option(value="QC") Quebec
  p.buttons
    input(type="submit",name="submit", value="Post")
