.skin-slidedeck {
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Color=#e5e5e5, direction=120, strength=5)";
    filter: progid:DXImageTransform.Microsoft.Shadow(Color=#e5e5e5, direction=120, strength=5);
}
.skin-slidedeck dl.slidedeck dt.active ul.verticalSlideNav { top: 6px; }
.skin-slidedeck dl.slidedeck dt.spine .index,
.skin-slidedeck dl.slidedeck ul.verticalSlideNav li a {
    background-color: #f6f6f6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Chroma(color='#f6f6f6')";
    filter: progid:DXImageTransform.Microsoft.Chroma(color='#f6f6f6');
}
.skin-slidedeck dl.slidedeck dt.spine.active .index,
.skin-slidedeck dl.slidedeck dt.spine.active ul.verticalSlideNav li a {
    background-color: #181818;
    -ms-filter: "progid:DXImageTransform.Microsoft.Chroma(color='#181818')";
    filter: progid:DXImageTransform.Microsoft.Chroma(color='#181818');
}