.skin-slidedeck dl.slidedeck ul.verticalSlideNav {
    left: 40px;
    top: 6px;
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.skin-slidedeck dl.slidedeck dt.active ul.verticalSlideNav { top: 6px; }
.skin-slidedeck dl.slidedeck dt.spine .index,
.skin-slidedeck dl.slidedeck ul.verticalSlideNav li a {
    background-color: #f6f6f6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Chroma(color='#f6f6f6')";
    filter: progid:DXImageTransform.Microsoft.Chroma(color='#f6f6f6');
}
.skin-slidedeck dl.slidedeck dt.spine.active .index,
.skin-slidedeck dl.slidedeck dt.spine.active ul.verticalSlideNav li a {
    background-color: #181818;
    -ms-filter: "progid:DXImageTransform.Microsoft.Chroma(color='#181818')";
    filter: progid:DXImageTransform.Microsoft.Chroma(color='#181818');
}